/* You can add global styles to this file, and also import other style files */
@import "~ngx-toastr/toastr";

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1rem;
  line-height: 1.3;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #222222;
}
