/* You can add global styles to this file, and also import other style files */
html{
    box-sizing: border-box;
    font-size: 100%;
}

*,*::before,*::after{
    box-sizing: inherit;
}

body{
    font-size: 1rem;
    line-height: 1.3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: auto;
    background-size: cover;
    background-image: url("../src/assets/images/image.jpg");
    background-position: top;
}